@font-face {
  src: url("../src/assets/get_schwifty.ttf") format("truetype");
  font-family: "Get Schwifty";
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: #213547;
}
h1 {
  margin-bottom: 2rem;
}
.allScoresContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 1rem;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
img {
  border-radius: 5px;
  box-shadow: 3px 3px 3px #58c24a;
}
.charCard {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  background: #22c1c3;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.charCard p {
  color: #213547;
  font-weight: bold;
  font-family: "Get Schwifty";
  font-size: 1.3rem;
}
